:root {
  --primary: #a89b75;
}

.btn {
  padding: 8px 15px;
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  filter: drop-shadow(0rem .08rem .08rem #8D8D8D);
  transition: filter 0.3s ease;
}

.btn--primary {
  background:linear-gradient(90deg, #F6CC50,transparent);
  background-color: var(--primary);
  color: #fff;
  filter: drop-shadow(0rem .1rem .1rem #8D8D8D);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
}

.btn--medium {
  padding: 8px 15px;
  font-size: 15px;
  height: 42px;
}

.btn--large {
  padding: 12px 20px;
  font-size: 20px;
}
