.boxAndText {
  font-size: 14px;
  margin: 0px;
  font-weight: bold;
  color: #656565;
}

.boxAndText p {
  margin-bottom: 8px;
}

.box {
  width: 85vw;
  background-color: #fff;
  height: 45px;
  border: 2px;
  border-radius: 8px;
  filter: drop-shadow(0rem .1rem .15rem #8D8D8D);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  float: left;
  padding-left: 2vw;
}

.inp {
  color: #656565;
  border: none;
  font-weight: normal;
  height:inherit;
  display: flex;
  width: 75vw;
  height: 35px;
  outline: none;
  padding-left: 2vw;
}

/* Gets rid of arrows for number box */
.input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:focus::placeholder {
  color: transparent;
}

.input::placeholder {
  color: #8D8D8D;
  transition: color 0.2s ease;
}
