.boxAndText {
  font-size: 14px;
  margin: 0px;
  font-weight: bold;
  color: #656565;
}

.boxAndText p {
  margin-bottom: 8px;
}

.box {
  width: 76vw;
  background-color: #fff;
  height: 30px;
  border: 2px;
  border-radius: 5px;
  filter: drop-shadow(0rem .1rem .15rem #8D8D8D);
  position: relative;
}

.avatar {
  float: left;
}

.input {
  color: #656565;
  border: none;
  font-weight: normal;
  padding-left: 3rem;
  width: 70vw;
  height:inherit;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  /* position: absolute; */
}

/* Gets rid of arrows for number box */
.input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:focus::placeholder {
  color: transparent;
}

.input::placeholder {
  color: #8D8D8D;
  transition: color 0.2s ease;
}
