.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20vh;
}

.text {
  text-align: center;
  margin: auto;
  margin-top: 8vh;
}

.dateText {
  font-style: italic;
  background-color: #a89b75;
  color: #fff;
  display: flex;
  height: 60px;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 140px;
}

.dateText h2 {
  margin: 0px;
}

.snu-logo {
  height: 50px;
}

.snu-div {
  padding-top: 5vh;
}

@media (prefers-reduced-motion: no-preference) {
  .snu-logo {
    animation: snu-logo-spin infinite 8s linear;
    /* animation: 3s ease-in 1s infinite reverse both running slidein; */
  }
}

@keyframes snu-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
